@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ucsd-navy: #182b49;
  --ucsd-blue: #00629b;
  --ucsd-gold: #c69214;
  --ucsd-yellow: #ffcd00;
  --ucsd-sand: #f5f0e6;
}

body {
  background: var(--ucsd-sand);
  color: var(--ucsd-navy);
}
